/**/
    #minuteStr {
        color: #727272;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #1f1f1f;
        font-size: 15px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
    }

    #remain {
        color: #5e0000;
        font-size: 20px;
        font-weight:bold;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        box-shadow:rgba(50, 59, 148, 0.452) 2.5px 2.5px 2.5px;
    }

    #remain_2 {
        color: hsla(0, 100%, 50%, 0.843);
        font-size: 20px;
        font-weight:bold;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
        box-shadow:rgba(50, 59, 148, 0.452) 2.5px 2.5px 2.5px;
    }
    
    #time {
        color: #5e0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        width: 50%;
        box-shadow:rgba(50, 59, 148, 0.452) 2.5px 2.5px 2.5px;
        margin:0 auto;
    }

    #time::after{
        content: "ç§’";
    }
    
    #mycanvas {
        color: rgb(255, 255, 255);
        font-size: 40px;s
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        background-color: rgb(255, 218, 233);
        font-size: 20px;
        position:absolute; top:380px; left:2%; width:43%; height:60px; 
        box-shadow:rgba(50, 59, 148, 0.452) 2.5px 2.5px 2.5px;
        
    }
    
    #btnB {
        background-color: rgb(218, 238, 255);
        font-size: 20px;
        position:absolute; top:380px; left:45%; width:25%; height:60px; 
    }

    #btnC {
        background-color: rgb(255, 253, 218);
        font-size: 20px;
        position:absolute; top:380px; left:70%; width:28%; height:60px; 
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:60px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:190px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}

    body{
        background-color: rgba(232, 234, 255, 0.452);
    }

    button{
        background-color: rgba(190, 194, 255, 0.705);
        font-family: Times;
        border-radius: 20px;
    }

