/**/
    #minuteStr {
        color: #ff0000;
        font-size: 20px;
        text-align: left;
        position:absolute; top:210px; 
        left:10px; right:10px;
    }
    
    #secondStr {
        color: #ff0000;
        font-size: 10px;
        text-align: left;
        position:absolute; top:250px; 
        left:10px; right:10px;
    }

    #remain {
        color: #ff0000;
        font-size: 20px;
        font-weight:bold;
        text-align: center;
        position:absolute; top:310px; 
        left:10px; right:10px;
    }
    
    #time {
        color: #ff0000;
        font-size: 20px;
        text-align: center;
        position:absolute; top:340px; 
        left:10px; right:10px;
        box-shadow:rgb(92, 124, 134) 5px 5px 5px;
    }
    
    #mycanvas {
        color: rgb(255, 255, 255);
        font-size: 40px;
        text-align: center;
        position:absolute; top:10px; 
        left:10px; right:10px;
    }
    
    #btnA {
        background-color: green;
        font-size: 20px;
        position:absolute; top:380px; left:2%; width:43%; height:60px; 
        
    }
    
    #btnB {
        font-size: 20px;
        position:absolute; top:380px; left:45%; width:25%; height:60px; 
    }

    #btnC {
        font-size: 20px;
        position:absolute; top:380px; left:70%; width:28%; height:60px; 
    }
    
    #minute {
        font-size: 30px;
        position:absolute; top:450px; left:60px; width:80px; height:40px;   
    }
    
    #second {
        font-size: 30px;
        position:absolute; top:450px; left:190px; width:80px; height:40px;   
    }
    
    input[type=number] {text-align: right;}

    body{
        background-color: rgba(158, 203, 255, 0.452);
    }

    button{
        background-color: rgba(173, 177, 230, 0.705);
        font-family: Times;
        border-radius: 20px;
    }

